<html ng-app="myApp">

<head>
	<title>Replacing Views</title>
	<script type="text/javascript" src="../../../../../libs/angular.js"></script>
	<script type="text/javascript" src="../../../../../libs/angular-route.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<link rel="stylesheet" href="../../../../../styles/main.css">
</head>
<body>

		{{'Replacing Views'}}
	<div>
		<a href="#!/welcome">Welcome</a> |
		<a href="#!/about">About</a> |
	</div>
		<div ng-controller="NavController as nav">
		<button ng-click="nav.goto('/welcome')">Welcome</button>
		<button ng-click="nav.goto('/about')">About</button>
	</div>
	<ng-view></ng-view>
</html>